---
layout: layouts/default.njk
---

<h1>Recipe index</h1>
  <ul>
    {% for recipe in collections.recipes -%}
    <li><a href="{{ recipe.url }}">{{ recipe.url }}</a></li>
    {% endfor -%}
  </ul>
{{ content | safe }}