---
layout: layouts/default
---

<h1>{{ title }}</h1>
<a href={{ directLink }} | urlize | safe class="text-warning">{{ title }}</a>
<img src={{ thumbnail }}</img>
<div>
</div>

<article>
  {{ content | safe }}
</article>